/*CenturyGothic Normal Font*/
@font-face {
  font-family: "CenturyGothic";
  src: url("../fonts/CenturyGothic.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturyGothic.woff") format("woff"),
    url("../fonts/CenturyGothic.ttf") format("truetype"), url("../fonts/CenturyGothic.svg#CenturyGothic") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*CenturyGothic Bold Font*/
@font-face {
  font-family: "CenturyGothic-Bold";
  src: url("../fonts/CenturyGothic-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturyGothic-Bold.woff") format("woff"),
    url("../fonts/CenturyGothic-Bold.ttf") format("truetype"), url("../fonts/CenturyGothic-Bold.svg#CenturyGothic-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}
p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

:root {
  --Regular-Font: "CenturyGothic";
  --Bold-Font: "CenturyGothic-Bold";
  --Primary-Color: #000;
  --Secondary-Color: #ddd;
  --Button-One-Color: #666666;
}

a {
  font-family: var(--Regular-Font);
  color: var(--Primary-Color);
}

.home {
  margin: 0 !important;
}
footer {
  font-family: var(--Regular-Font);
  background-color: #f5f5f5;
}

/* Tab CONTENT*/
.plus-point-tab-item {
  /* background-image: url("../images/tab-section-arrow-bg.png"); */
  background-repeat: no-repeat;
  padding: 12px 15px;
  background-position: top center;
  text-align: center;
  box-shadow: 0px 10px 20px 0px #d0cece6e;
}

.plus-point-tab-item .imageBox {
  position: relative;
  display: inline-block;
}
.plus-point-tab-item .imageBox .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 100;
  margin-bottom: 20px;  
}
.plus-point-tab-item .imageBox:hover .img-top {
  display: inline;
}

.plus-point-tab-item ul li {
  list-style: none;
  display: inline-block;
}
.plus-point-tab-item img {
  margin-bottom: 20px;
}

.product-item-title {
  font-family: var(--Bold-Font);
  font-size: 16px;
}
.old-price {
  font-size: 14px;
}
.new-price {
  font-family: var(--Bold-Font);
  color: var(--Primary-Color);
  font-size: 18px;
}

a.item-add-to-cart-btn {
  background-color: var(--Button-One-Color);
  padding: 5px 15px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}
.whish-icon {
  padding-top: 20px;
  padding-left: 10px;
}

.new-arrivals {
  position: relative;
  margin-bottom: 30px;
}
.new-arrivals .new-arrivals-info {
  position: absolute;
  color: #fff !important;
  font-family: var(--Regular-Font);
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  top: 25%;
}
.new-arrivals .new-arrivals-info h3 {
  font-size: 26px;
  margin-bottom: 5px;
}
.new-arrivals .new-arrivals-info h2 {
  font-family: var(--Bold-Font);
  font-size: 30px;
  margin-bottom: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  max-width: 300px;
  margin: auto;
}
.new-arrivals .new-arrivals-info p {
  font-size: 14px;
}
.new-arrivals .new-arrivals-info .discover-button {
  background-color: #fff;
  border: 2px solid #000000;
  opacity: 0.5;
  padding: 10px 20px;
  color: #000;
  text-decoration: none;
  font-family: var(--Bold-Font);
  margin-top: 40px;
  display: inline-block;
}

button.search__icon {
  outline: none;
}

.subscribe-input,
.subscribe-button {
  padding: 7px 20px;
  margin-left: 10px;
  cursor: pointer;
}
footer .subscribe-text h2 {
  font-size: 20px;
  font-family: var(--Bold-Font);
  margin-bottom: 20px;
}
footer .subscribe-text p {
  font-size: 14px;
  font-family: var(--Regular-Font);
}
footer .subscribe-form {
  margin-top: 30px;
}
footer h5 {
  font-size: 16px;
}
footer .list-unstyled li a {
  font-size: 14px;
  text-decoration: none;
}
.footer-copyright,
.footer-copyright a {
  font-size: 14px;
}
/*tab-pane animation*/
.tab-pane.active {
  animation: slide-down 1s ease-out;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*carousel-tab*/
.carousel-tab h4 {
  width: 100%;
  text-align: center;
  border-bottom: 0.5px solid rgb(117, 112, 112);
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.carousel-tab h4 span {
  background: #fff;
  padding: 0 10px;
}

/*carousel-indicators*/

.carousel-tab .carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  top: 70px;
  margin: 15px;
  text-indent: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: white;
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.carousel-tab .carousel-indicators .active {
  width: 10px;
  height: 10px;
  margin: 15px;
  background-color: black;
}

/* Main Category CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.marketing {
  margin-top: 50px;
}
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing .category-item {
  overflow: hidden;
  /* background-image: url("../images/cat-section-arrow-bg.png"); */
  background-repeat: no-repeat;
  padding: 15px 15px;
  background-size: 100% 100%;
  background-position: center center;
}

.marketing .content {
  position: relative;
}
.marketing .wrap {
  position: relative;
  overflow: hidden;
}

.marketing .content .content-overlay {
  overflow: hidden;
  background: rgba(255, 255, 255, 0.9);
  border-style: solid;
  border-width: 1px;
  position: absolute;
  height: auto;
  width: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  margin: 40px;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.marketing .content:hover .content-overlay {
  opacity: 1;
  width: auto;
}
.marketing .content .content2-overlay {
  overflow: hidden;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  height: auto;
  width: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.marketing .content:hover .content2-overlay {
  opacity: 1;
  width: auto;
}



.marketing .content .img-fluid {
  width: 100%;
  height: 333px;
}

.marketing .content img {
  overflow: hidden;
  position: relative;
  width: 100%;
  transition-duration: 0.5s;
  margin: 0 auto;
  display: block;
}

.marketing .content:hover img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  z-index: 0;
}

.marketing .content .content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.marketing .content:hover .content-details {
  width: auto;
  top: 50%;
  left: 50%;
  opacity: 1;
}

.marketing .content .content-details h3 {
  color: rgb(0, 0, 0);
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details a {
  color: rgb(75, 75, 75);
  font-size: 1em;
}

.content-details a:hover {
  font-weight: bold;
  font-size: 1em;
  color: black;
}

.marketing .content .fadeIn-bottom {
  top: 80%;
}

.marketing .category-item .plus-point-cat-btn {
  width: absolute;
  background-color: var(--Button-One-Color);
  display: block;
  margin-top: 15px;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}

.fa-facebook{
  margin: 0 20px 0 20px;
}
.button--facebook {
  
  background-color: #5b749c !important;
  border: 1px solid #3b5988;
}

/* font-awesome icon style */

.fa-th-large {
  color: black;
}
.fa-th {
  color: black;
}

button.btn.size-btn {
  padding: 0 !important;
  text-decoration: underline !important;
  text-transform: none !important;
}
button.btn.size-btn:hover {
  color: red !important;
}

div#exampleModalCenter {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 35% !important;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}


@media screen and (max-width:768px) {
  div#exampleModalCenter {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0 !important;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
  }
}