/*CenturyGothic Normal Font*/
@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),  url('../fonts/CenturyGothic.woff') format('woff'), url('../fonts/CenturyGothic.ttf')  format('truetype'), url('../fonts/CenturyGothic.svg#CenturyGothic') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  /*CenturyGothic Bold Font*/
  @font-face {
    font-family: 'CenturyGothic-Bold';
    src: url('../fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/CenturyGothic-Bold.woff') format('woff'), url('../fonts/CenturyGothic-Bold.ttf')  format('truetype'), url('../fonts/CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  *{
      padding: 0;
      margin: 0;
  }
  p, a, h1, h2, h3, h4, h5, h6, ul{
      margin: 0;
      padding: 0;
  }
  
  :root {
    --Regular-Font: 'CenturyGothic';
    --Bold-Font: 'CenturyGothic-Bold';
    --Primary-Color: #000;
    --Secondary-Color: #ddd;
    --Button-One-Color: #666666;
  }
  
  a{
      font-family: var(--Regular-Font);
      color: var(--Primary-Color);	
  }

.home{
    margin: 0!important;
}
footer{
    font-family: var(--Regular-Font);
    background-color: #f5f5f5;
}


.btn{
    color:#000;
}

      
/* Main Category CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing{
    margin-top: 50px;
}
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing .category-item {  
    background-image: url('../images/cat-section-arrow-bg.png');
    background-repeat: no-repeat;
    padding: 15px 15px;
    background-position: top center;
}
.marketing .category-item .plus-point-cat-btn{  
    width: 100%;
    background-color: var(--Button-One-Color);
    display: block;
    margin-top: 15px;
    padding: 10px;
    text-decoration: none;
    color: #fff;
}

/* Tab CONTENT*/     
.plus-point-tab-item{
    background-image: url('../images/tab-section-arrow-bg.png');
    background-repeat: no-repeat;
    padding: 12px 15px;
    background-position: top center;
    text-align: center;
    box-shadow: 0px 10px 20px 0px #d0cece6e;
}


.plus-point-tab-item ul li{
    list-style: none;
    display: inline-block;
}
.plus-point-tab-item img{
    margin-bottom: 20px;
}

.product-item-title{
    font-family: var(--Bold-Font);
    font-size: 16px;
}
.old-price{
    font-size: 14px;
}
.new-price{
    font-family: var(--Bold-Font);
    color: var(--Primary-Color);
    font-size: 18px;
} 

a.item-add-to-cart-btn{
	background-color: var(--Button-One-Color);
	padding: 5px 15px;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
}
.whish-icon{
	padding-top: 20px; 
	padding-left: 10px;
}

  

.new-arrivals {
    position: relative;
    margin-bottom: 30px;
}
.new-arrivals .new-arrivals-info{
    position: absolute;    
    color: #fff!important;
    font-family: var(--Regular-Font);
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    top: 25%;   

}
.new-arrivals .new-arrivals-info h3{
    font-size: 26px;
    margin-bottom: 5px;
}
.new-arrivals .new-arrivals-info h2{
    font-family: var(--Bold-Font);
    font-size: 30px;
    margin-bottom: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    max-width: 300px;
    margin: auto;
}
.new-arrivals .new-arrivals-info p{
    font-size: 14px;    
}
.new-arrivals .new-arrivals-info .discover-button{
    background-color: #fff;
    border: 2px solid #000000;
    opacity: 0.5;
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
    font-family: var(--Bold-Font);
    margin-top: 40px;
    display: inline-block;
}

button.search__icon{
    outline: none;
}

.subscribe-input, .subscribe-button{
    padding: 7px 20px;
    margin-left: 10px;
    cursor: pointer;
}
footer .subscribe-text h2{
    font-size: 20px;
    font-family: var(--Bold-Font);
    margin-bottom: 20px;
}
footer .subscribe-text p{
    font-size: 14px;
    font-family: var(--Regular-Font);
}
footer .subscribe-form{
    margin-top: 30px;
}
footer h5{
    font-size: 16px;
}
footer .list-unstyled li a{
    font-size: 14px;
    text-decoration: none;
}
.footer-copyright, .footer-copyright a{
    font-size: 14px;
}

.onhover-show-div {
    top: 25px!important;
}
