/*CenturyGothic Normal Font*/
@font-face {
  font-family: "CenturyGothic";
  src: url("%PUBLIC_URL%/assets/fonts/CenturyGothic.eot?#iefix") format("embedded-opentype"),
    url("%PUBLIC_URL%/assets/fonts/CenturyGothic.svg#CenturyGothic") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*CenturyGothic Bold Font*/
@font-face {
  font-family: "CenturyGothic-Bold";
  src: url("%PUBLIC_URL%/assets/fonts/CenturyGothic-Bold.eot?#iefix") format("embedded-opentype"),
    url("%PUBLIC_URL%/assets/fonts/CenturyGothic-Bold.svg#CenturyGothic-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}
p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

:root {
  --Regular-Font: "CenturyGothic";
  --Bold-Font: "CenturyGothic-Bold";
  --Primary-Color: #000;
  --Secondary-Color: #ddd;
  --Button-One-Color: #666666;
}

a {
  font-family: var(--Regular-Font);
  color: var(--Primary-Color);
}

.home {
  margin: 0 !important;
}
footer {
  font-family: var(--Regular-Font);
  background-color: #f5f5f5;
}
button.btn.dropdown-toggle.bdt-button-custom {
  font-family: var(--Regular-Font);
}

/* Main Category CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing {
  margin-top: 50px;
}
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing .category-item {
  background-image: url("../images/cat-section-arrow-bg.png");
  background-repeat: no-repeat;
  padding: 15px 15px;
  background-position: top center;
}
.marketing .category-item .plus-point-cat-btn {
  width: 100%;
  background-color: var(--Button-One-Color);
  display: block;
  margin-top: 15px;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}

/* Tab CONTENT*/
.plus-point-tab-item {
  background-image: url("../images/tab-section-arrow-bg.png");
  background-repeat: no-repeat;
  padding: 12px 15px;
  background-position: top center;
  text-align: center;
  box-shadow: 0px 10px 20px 0px #d0cece6e;
}

.plus-point-tab-item ul li {
  list-style: none;
  display: inline-block;
}
.plus-point-tab-item img {
  margin-bottom: 20px;
}

.product-item-title {
  font-family: var(--Bold-Font);
  font-size: 16px;
}
.old-price {
  font-size: 14px;
}
.new-price {
  font-family: var(--Bold-Font);
  color: var(--Primary-Color);
  font-size: 18px;
}

a.item-add-to-cart-btn {
  background-color: var(--Button-One-Color);
  padding: 5px 15px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}
.whish-icon {
  padding-top: 20px;
  padding-left: 10px;
}

.new-arrivals {
  position: relative;
  margin-bottom: 30px;
}
.new-arrivals .new-arrivals-info {
  position: absolute;
  color: #fff !important;
  font-family: var(--Regular-Font);
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  top: 25%;
}
.new-arrivals .new-arrivals-info h3 {
  font-size: 26px;
  margin-bottom: 5px;
}
.new-arrivals .new-arrivals-info h2 {
  font-family: var(--Bold-Font);
  font-size: 30px;
  margin-bottom: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  max-width: 300px;
  margin: auto;
}
.new-arrivals .new-arrivals-info p {
  font-size: 14px;
}
.new-arrivals .new-arrivals-info .discover-button {
  background-color: #fff;
  border: 2px solid #000000;
  opacity: 0.5;
  padding: 10px 20px;
  color: #000;
  text-decoration: none;
  font-family: var(--Bold-Font);
  margin-top: 40px;
  display: inline-block;
}

button.search__icon {
  outline: none;
}

.subscribe-input,
.subscribe-button {
  padding: 7px 20px;
  margin-left: 10px;
  cursor: pointer;
}
footer .subscribe-text h2 {
  font-size: 20px;
  font-family: var(--Bold-Font);
  margin-bottom: 20px;
}
footer .subscribe-text p {
  font-size: 14px;
  font-family: var(--Regular-Font);
}
footer .subscribe-form {
  margin-top: 30px;
}
footer h5 {
  font-size: 16px;
}
footer .list-unstyled li a {
  font-size: 14px;
  text-decoration: none;
}
.footer-copyright,
.footer-copyright a {
  font-size: 14px;
}

/*SEARCH BAR*/
.search {
  position: relative;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.search * {
  outline: none;
  box-sizing: border-box;
}

.search__wrapper {
  position: absolute;
  top: 0;
  right: 0;
}
.search__field {
  width: 50px;
  height: 50px;
  color: black;
  font-family: CenturyGothic;
  font-size: 1em;
  padding: 0.1em 10em 0em 0em;
  border: 1px black;
  border-radius: 0.5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.search__field:focus {
  border-bottom-color: #ccc;
  width: 30vw;
  color: #2b2b2b;
  cursor: text;
}
.search__field:focus ~ .search__icon {
  background-color: transparent;
  cursor: pointer;
  pointer-events: auto;
}

.search__icon {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffffff;
  width: 50px;
  height: 50px;
  font-size: 1.35em;
  text-align: center;
  border-color: transparent;
  border-radius: 100%;
  pointer-events: none;
  display: inline-block;
  transition: background-color 0.2s ease-in-out;
}

.search__field::-webkit-input-placeholder {
  position: relative;
  top: 0;
  left: 0;
  transition-property: top, color;
  transition-duration: 0.1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.search__field:-moz-placeholder {
  position: relative;
  top: 0;
  left: 0;
  transition-property: top, color;
  transition-duration: 0.1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.search__field::-moz-placeholder {
  position: relative;
  top: 0;
  left: 0;
  transition-property: top, color;
  transition-duration: 0.1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.search__field:-ms-input-placeholder {
  position: relative;
  top: 0;
  left: 0;
  transition-property: top, color;
  transition-duration: 0.1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.search__field::-webkit-input-placeholder[style*="hidden"] {
  color: #83b0c1;
  font-size: 0.65em;
  font-weight: normal;
  top: -20px;
  opacity: 1;
  visibility: visible !important;
}
.search__field:-moz-placeholder[style*="hidden"] {
  color: #83b0c1;
  font-size: 0.65em;
  font-weight: normal;
  top: -20px;
  opacity: 1;
  visibility: visible !important;
}
.search__field::-moz-placeholder[style*="hidden"] {
  color: #83b0c1;
  font-size: 0.65em;
  font-weight: normal;
  top: -20px;
  opacity: 1;
  visibility: visible !important;
}
.search__field:-ms-input-placeholder[style*="hidden"] {
  color: #83b0c1;
  font-size: 0.65em;
  font-weight: normal;
  top: -20px;
  opacity: 1;
  visibility: visible !important;
}

/* navtab */

.plus-point-tab-product .justify-content-center {
  color: black;
  font-weight: normal;
}

.plus-point-tab-product .nav-pills .nav-link.active {
  background-color: white;
  color: black;
  font-weight: bold;
}

/*tab-pane animation*/
.tab-pane.active {
  animation: slide-down 1s ease-out;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*carousel-tab*/
.carousel-tab h4 {
  width: 100%;
  text-align: center;
  border-bottom: 0.5px solid rgb(117, 112, 112);
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.carousel-tab h4 span {
  background: #fff;
  padding: 0 10px;
}

/*carousel-indicators*/

.carousel-tab .carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  top: 70px;
  margin: 15px;
  text-indent: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: white;
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.carousel-tab .carousel-indicators .active {
  width: 10px;
  height: 10px;
  margin: 15px;
  background-color: black;
}
